.header {
    padding: 60px 0;
}

.logo {
    grid-column: 1 / 3;
}

.logo-link {
    color: var(--color-white);
}

.menu-in-list {
    grid-column: 4 / 12;
}

.menu {
    list-style: none;
    display: inline-flex;
    float: right;
}

.menu-item {
    padding: 0 7px;
}

.menu-item-link {
    color: var(--color-white);
}