#Index {
    background-color: var(--bg-featured);
    
}

#Features {
    background-color: var(--bg-second);
    
}

#Services {
    background-color: var(--bg-second);
    
}

#Testimonials {
    background-color: var(--bg-third);
}